body{
    margin: 0;
    background-color: antiquewhite;
    background-image: url("../images/backgrounds/background-white.jpg");
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 26px;
}

h1{
    color: ghostwhite;
    margin-block-end: 0;
}

h2{
    color: antiquewhite;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

hr{
    width: 100%;
}

.avatar-image{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 26px;
}

.container{
    align-content: stretch;
    display: flex;
    flex-direction: row;
    margin: 15vh 10vh 15vh 10vh;
    background: #696969;
    height: 70vh;
}

.education{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.experience{
    display: flex;
    flex-direction: row;
}

.faculty, .degree, .years, .university {
    font-size: 15px;
    font-weight: 900;
    color: ghostwhite;
}

.frontend, .backend, .databases, .tools, .other-skills{
    display: flex;
    flex-direction: column;
}

.frontend h2{
    margin-block-start: 0.3em!important;
}

.left-menu{
    padding: 10px;
}

.left-side-container{
    display:flex;
    width: 50%;
}

.list{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-flow: column;
    height: 40%;
    justify-content: inherit;
}

.material-icons{
    font-size: 36px!important;
    color: ghostwhite;
}

.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.person{
    margin: -3vh 0 -3vh 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.personal-details a{
    color: ghostwhite;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding-left: 3px;
}

.personal-details b{
    color: antiquewhite;
    font-size: 1.2em;
    font-weight: bold;
}

.personal-details p{
    margin-block-end: 0;
}

.personal-details span{
    color: ghostwhite;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    padding-left: 3px;
}

.person-avatar{
    position: relative;
    height: 100%;
    width: 100%;
}

.person-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.person-name, .person-position{
    font-family: Blippo, fantasy;
    font-size: 33px;
    color: ghostwhite;
}

.person-social-links{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    color: ghostwhite;
}

.right-side-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.skills span, .experience span{
    padding: 1px;
    margin: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    color: ghostwhite;
    border-bottom: 1px solid antiquewhite;
}

.skills-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills h2{
    margin-block-start: 1em;
}


.telegram, .instagram, .skype, .linkedin{
    padding: 2px;
}

.university, .faculty, .degree, .years{
    font-style: italic;
}

.work-experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.work-experience-left{
    width: 30%;
}

.work-experience-right{
    width: 70%;
}

.work-name, .company{
    font-weight: bold;
    font-size: 1.3em;
    color: antiquewhite;
}

.work-years, .work-description, .experience-technologies{
    font-weight: bold;
    font-size: 15px;
    color: ghostwhite;
}

::-webkit-scrollbar {
    width: 13px;
    height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
    height: 10px;
    border: 3px solid darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
}
