body{
    margin: 0;
    background-color: antiquewhite;
    background-image: url("../images/backgrounds/background-white.jpg");
}

a{
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 26px;
}

h1{
    color: ghostwhite;
    margin-block-end: 0;
    font-size: 2em;
}

h2{
    color: antiquewhite;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

hr{
    width: 100%;
}

.linkedin, .telegram, .skype, .instagram{
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    display: flex;
    margin: 0 3px 0 3px;
    background-color: antiquewhite;
    border-radius: 40px;
}

.person-social-links span:hover{
    box-shadow: 0 0 20px antiquewhite;
    border-radius: 40px;
}

.linkedin{
    background-image: url("../images/social-networks/linkedin_black.svg");
    background-size: 64px 64px;
}

.linkedin:hover{
    background-image: url("../images/social-networks/linkedin_color.png");
    background-size: 64px 64px;
}

.instagram{
    background-image: url("../images/social-networks/instagram_black.svg");
    background-size: 64px 64px;
}

.instagram:hover{
    background-image: url("../images/social-networks/instagram_color.svg");
    background-size: 64px 64px;
}

.skype{
    background-image: url("../images/social-networks/skype_black.png");
    background-size: 64px 64px;
}

.skype:hover{
    background-image: url("../images/social-networks/skype_color.png");
    background-size: 64px 64px;
}

.telegram{
    background-image: url("../images/social-networks/telegram_black.png");
    background-size: 64px 64px;
}

.telegram:hover{
    background-image: url("../images/social-networks/telegram_color.png");
    background-size: 64px 64px;
}

.about-me-info{
    color: ghostwhite;
    font-size: 1.3em;
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    font-style: italic;
}

.avatar-image{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border-radius: 26px;
}

.container{
    align-content: stretch;
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    margin: 15vh 10vh 15vh 10vh;
    background: #696969;
    height: 70vh;
}

.education{
    width: 100%;
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
}

.education-info{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
}

.education-left, .education-right{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    width: 50%;
}

.education-left{
    padding-right: 10px;
}

.work-experience-left, .work-experience-right{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
}

.work-experience-left{
    width: 30%;
    padding-right: 10px;
}

.experience{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
}

.experience-technologies span{
    font-size: 1em;
    border-bottom: 1px solid antiquewhite;
}

.faculty, .degree, .years, .university {
    font-size: 15px;
    color: ghostwhite;
}

.frontend, .backend, .databases, .tools, .other-skills{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
}

.frontend h2{
    margin-block-start: 0.3em!important;
}

.left-menu{
    padding: 10px;
}

.left-side-container{
    display:flex;
    display:-webkit-flex;
    max-width: 36%;
    width: 40%;
}

.list{
    display: flex;
    display:-webkit-flex;
    flex-flow: column;
    height: 100%;
    justify-content: inherit;
}

.list div{
    padding: 0.2em;
}

.list div:hover{
    background-color: black;
    border-radius: 2em;
    box-shadow: 0 0 1em antiquewhite;
}

.material-icons:hover{
    color: antiquewhite;
}

.material-icons{
    font-size: 2.5em!important;
    color: ghostwhite;
    border-radius: 26px;
}

.menu-list{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.download-button-mobile{
    display: none;
}

.person{
    margin: -3vh 0 -3vh 0;
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    width: 100%;
}

.personal-details a{
    color: ghostwhite;
    font-size: 1.3em;
    font-style: italic;
    text-decoration: none;
    padding-left: 3px;
}

.personal-details b{
    color: antiquewhite;
    font-size: 1.2em;
}

.personal-details p{
    margin-block-end: 1.5em;
}

.personal-details span{
    color: ghostwhite;
    font-size: 1.3em;
    font-style: italic;
    padding-left: 3px;
}

.person-avatar{
    position: relative;
    height: 100%;
    width: 100%;
}

.person-info{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.person-name, .person-position{
    font-family: fantasy;
    font-size: 2em;
    color: antiquewhite;
}

.person-social-links{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.right-side-container{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 63%;
    width: auto;
}


.skills span, .work-experience span{
    padding: 1px;
    margin: 5px;
    font-style: italic;
    color: ghostwhite;
    border-bottom: 1px solid antiquewhite;
}

.skills span{
    font-size: 1.3em;
}

.skills-list{
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills h2{
    margin-block-start: 1em;
}

.skills h2, .specialization h2{
    font-size: 1.5em;
}

.university, .faculty, .degree, .years{
    font-style: italic;
    font-size: 1.3em;
}

.work-experience{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.work-experience h2{
    font-size: 1.5em;
}

.work-experience-left{
    width: 30%;
}

.work-experience-right{
    width: 70%;
}

.work-name, .company{
    font-size: 1.5em;
    color: antiquewhite;
}

.work-years, .work-description, .experience-technologies{
    font-size: 1.3em;
    color: ghostwhite;
}

::-webkit-scrollbar {
    width: 13px;
    height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
    height: 10px;
    border: 3px solid darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
}

.person-social-links>.person-info{
    width: 32px;
    height: 32px;
}



@media all and (max-width: 801px) {
    .container{
        margin: 15vh 0 15vh 0;
    }

    .left-side-container{
        max-width: 50%;
        width: 50%;
        flex-direction: column;
        padding-left: 15px;
    }

    .left-menu, .menu-list, .list{
        flex-direction: row;
    }

    .right-side-container{
        max-width: 50%;
    }

    .linkedin, .telegram, .skype, .instagram{
        width: 48px;
        height: 48px;
    }

    .linkedin{
        background-image: url("../images/social-networks/linkedin_color.png");
        background-size: 48px 48px;
    }

    .instagram{
        background-image: url("../images/social-networks/instagram_color.svg");
        background-size: 48px 48px;
    }

    .telegram{
        background-image: url("../images/social-networks/telegram_color.png");
        background-size: 48px 48px;
    }

    .skype{
        background-image: url("../images/social-networks/skype_color.png");
        background-size: 48px 48px;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .person{
        margin: 0;
    }

    .container{
        height: 73vh;
    }
}

@media all and (max-width: 730px){
    .left-menu{
        display: none;
    }
}

@media all and (max-width: 601px) {
    .container{
        margin:0;
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .person{
        margin: 0;
    }

    .left-side-container{
        max-width: none;
        width: 100%;
        flex-direction: column;
        padding-left: 0;
    }

    .right-side-container{
        max-width: none;
    }

    .list{
        flex-direction: row;
        width: 100%;
    }

    .left-menu{
        display: flex;
    }

    .menu-list{
        flex-direction: row;
        width: 100%;
    }

    .download-button{
        display: none;
    }

    .download-button-mobile{
        display: flex;
        justify-content: center;
        background-color: gray;
        border: 1px solid ghostwhite;
        margin-top: 20px;
    }

    .download-button-mobile a{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .download-button-mobile span{
        padding: 0 10px 0 10px;
    }

    .download-button-mobile p{
        font-size: 1.3em;
        font-weight: 900;
        margin: auto;
        color: antiquewhite;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .work-experience-left{
        width: 50%;
    }

    .material-icons{
        font-size: 2.5em!important;
        color: antiquewhite;
        border-radius: 26px;
        background-color: black;
    }

    .linkedin, .telegram, .skype, .instagram{
        width: 32px;
        height: 32px;
    }

    .linkedin{
        background-image: url("../images/social-networks/linkedin_color.png");
        background-size: 32px 32px;
    }

    .instagram{
        background-image: url("../images/social-networks/instagram_color.svg");
        background-size: 32px 32px;
    }

    .telegram{
        background-image: url("../images/social-networks/telegram_color.png");
        background-size: 32px 32px;
    }

    .skype{
        background-image: url("../images/social-networks/skype_color.png");
        background-size: 32px 32px;
    }
}

@media all and (max-width: 340px){
    .material-icons{
        font-size: 1.5em!important;
    }
}




